#abcd {
    overflow: scroll;

}

.lr {
    margin: -10;
}

#add {
	display: none;
}

#search_bar {
    height: 50px;
}

#search-button {
     height: 50px;
    width: 50px;
}

.food-list-btn {
    height: 70px;
    padding-top: 25px;
}

.plus-button {
    background-color: #f2ffcc;
}