.trash-button {
    height: 70px;
}
/* */
.trash-button .glyphicon {
    font-size: 50px;
}

.meal_item {
    font-size: 18px;
    font-weight: lighter;
    height: 70px;
    padding-top: 25px;
}

#info-div {
    background-color:rgba(255, 255, 255, 0.7);
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 5px;
    height: 220px;
    margin-top: 4%;
    
}

#info-cal {
}

.progress {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30%;
    height: 50px;
    margin-top: 1%;
}


.progress-bar {
    font-size: 20px;
    padding-top: 13px;
}

#legend {
    margin-left: 5%;
}

.label {
   font-size: 18px;
    font-weight: lighter;
    background-color: aqua;
}

.color {
    background-color: bisque;
    width: 20px;
    height: 20px;
    
}

#label-1 {
    background-color: #5cb85c;
}

#label-2 {
    background-color: #f0ad4e;
}

#label-3 {
    background-color: #d9534f;
}

#meals {
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    margin-top: 9%;
    height: 260px;
    background-color:rgba(255, 255, 255, 0.7);
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 5px;
}

.meal_items {
    font-size: 26px;
    font-weight: lighter;
}