body {
    color: gray;
    background: repeating-linear-gradient(
  to right,
  #ecf8ec,
  #ecf8ec 20px,
  #daf1da 20px,
  #daf1da 40px
);
}
/* */
.footer {
    position: fixed;
    left: 0;
    bottom: 0%;
    width: 100%;
    background-color: whitesmoke;
}

.div_header {
    font-size: 200%;
    heigth: 100px;
}

.header {
    background-color: #40bf80;
    color: white;
    text-align: center;
}

.btn-info {
    background-color: #40bf80;
}

.progr_bar {
    height: 80px;
}

#calorieSum {
    margin-top: 0%;
}

.progress {
    margin-top: 5%;
}

#mealsDiv {
    margin-top: 1%;
    background-color: aqua;
}

.counter {
    color: #40bf80;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}

#headerCalorieSum {
    text-align: center;
    font-size: 120%;
    margin-top: 6%;
}



#meals {
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    margin-top: 9%;
    height: 300px;
    background-color: white;
}

.meal_items {
    font-size: 26px;
    font-weight: lighter;
}

.hfi .glyphicon {
    font-size: 33px;
}

.btn_delete {
    height: 50px;
    width: 50px;
}

#chartdiv {
}

