.amChartsDataSetSelector
{
    font-size:12px;
    font-family:verdana,helvetica,arial,sans-serif;
    background-color: red;
}
/* */
.amChartsPeriodSelector
{
    font-size:12px;
    font-family:verdana,helvetica,arial,sans-serif;
    background-color: whitesmoke;;
}

.amChartsButtonSelected
{
   background-color:white;
   border-style:solid;
   border-color:#5bc0de;
   border-width:1px;
   color:black;
   -moz-border-radius: 5px;
   border-radius: 5px;
   margin: 1px;
   outline: none;
   box-sizing: border-box;
     height: 25px;
    width: 80px;
}

.amChartsButton
{
    color: gray;
    background: transparent;
    opacity: 0.7;
    border: 1px solid rgba(0, 0, 0, .3);
   -moz-border-radius: 5px;
   border-radius: 5px;
   margin: 1px;
   outline: none;
   box-sizing: border-box;
    background-color: papayawhip;
    height: 25px;
    width: 80px;
}

.amChartsCompareList
{
   border-style:solid;
   border-color:#CCCCCC;
   border-width:1px;
    background-color: red;
}

.amChartsCompareList div
{
   -webkit-box-sizing: initial;
   box-sizing: initial;
    background-color: red;
}

.amChartsInputField
{

}

.amChartsLegend
{

}

.amChartsPanel
{

}